{% extends 'base.html' %}
{% load static %}
{% block title %}Top wear{% endblock title %}
{% block main-content %}
<div class="m-3">
    <h2>Shopping Adda Deals of The Day</h2>
    <!-- Slider 1 -->
    <div class="owl-carousel" id="slider1">
        <a class="btn">
            <div class="item"><img src="{% static 'images/product/1.jpg' %}" alt="" height="200px"><span
                    class="fw-bold">Product 1</span><br><span class="fs-5">Rs. 500</span></div>
        </a>
        <div class="item"><img src="{% static 'images/product/2.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 2</span><br><span class="fs-5">Rs. 300</span></div>
        <div class="item"><img src="{% static 'images/product/3.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 3</span><br><span class="fs-5">Rs. 100</span></div>
        <div class="item"><img src="{% static 'images/product/4.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 4</span><br><span class="fs-5">Rs. 700</span></div>
        <div class="item"><img src="{% static 'images/product/5.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 5</span><br><span class="fs-5">Rs. 500</span></div>
        <div class="item"><img src="{% static 'images/product/6.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 6</span><br><span class="fs-5">Rs. 400</span></div>
        <div class="item"><img src="{% static 'images/product/7.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 7</span><br><span class="fs-5">Rs. 500</span></div>
        <div class="item"><img src="{% static 'images/product/8.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 8</span><br><span class="fs-5">Rs. 300</span></div>
        <div class="item"><img src="{% static 'images/product/9.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 9</span><br><span class="fs-5">Rs. 600</span></div>
        <div class="item"><img src="{% static 'images/product/10.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 10</span><br><span class="fs-5">Rs. 900</span></div>
        <div class="item"><img src="{% static 'images/product/11.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 11</span><br><span class="fs-5">Rs. 100</span></div>
        <div class="item"><img src="{% static 'images/product/12.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 12</span><br><span class="fs-5">Rs. 200</span></div>
    </div>
</div>
<div class="mx-3">
    <h2>Trending Deals</h2>
    <!-- Slider 2 -->
    <div class="owl-carousel" id="slider2">
        <div class="item"><img src="{% static 'images/product/12.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 1</span><br><span class="fs-5">Rs. 500</span></div>
        <div class="item"><img src="{% static 'images/product/11.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 2</span><br><span class="fs-5">Rs. 300</span></div>
        <div class="item"><img src="{% static 'images/product/10.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 3</span><br><span class="fs-5">Rs. 100</span></div>
        <div class="item"><img src="{% static 'images/product/9.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 4</span><br><span class="fs-5">Rs. 700</span></div>
        <div class="item"><img src="{% static 'images/product/8.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 5</span><br><span class="fs-5">Rs. 500</span></div>
        <div class="item"><img src="{% static 'images/product/11.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 6</span><br><span class="fs-5">Rs. 400</span></div>
        <div class="item"><img src="{% static 'images/product/5.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 7</span><br><span class="fs-5">Rs. 500</span></div>
        <div class="item"><img src="{% static 'images/product/11.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 8</span><br><span class="fs-5">Rs. 300</span></div>
        <div class="item"><img src="{% static 'images/product/12.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 9</span><br><span class="fs-5">Rs. 600</span></div>
        <div class="item"><img src="{% static 'images/product/7.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 10</span><br><span class="fs-5">Rs. 900</span></div>
        <div class="item"><img src="{% static 'images/product/6.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 11</span><br><span class="fs-5">Rs. 100</span></div>
        <div class="item"><img src="{% static 'images/product/10.jpg' %}" alt="" height="200px"><span
                class="fw-bold">Product 12</span><br><span class="fs-5">Rs. 200</span></div>
    </div>
</div>
{% endblock main-content %}